<input
    class="center"
    style="width: 85%;"
    #box
    (keyup.enter)="requestSong(box.value)"
    placeholder="Song file name"
>

<div
    *ngIf="added_song"
    width="100%"
>
    <h3>Added:</h3>
    <table>
        <tr>
            <th width="33%">
                <h3>{{ added_song.name }}</h3>
            </th>
            <th width="33%">
                <h3>{{ added_song.author }}</h3>
            </th>
            <th width="33%">
                <h3>{{ added_song.album }}</h3>
            </th>
        </tr>
    </table>
</div>