<div class="split left" width="50%">
    <div class="center">
        <input
            class="text"
            #localReq (keyup.enter)="requestSong(localReq.value)"
            placeholder="Search song locally"
        >
    </div>
    <div class="center">
        <button (click)="requestSong(localReq.value)">Request</button>
    </div>
</div>

<div class="split right" width="50%">
    <div class="center">
        <input
            class="text"
            #ytReq (keyup.enter)="requestYtSong(ytReq.value)"
            placeholder="Search song on youtube"
        >
    </div>
    <div class="center">
        <button (click)="requestYtSong(ytReq.value)">Request</button>
    </div>
</div>
